:root {
    --addTask: #444444;
    --deleteTask: #EE351E;
    --personal: #87CEFA;
    --school: #F2A700;
    --work: #9C00AF;
    --cleaning: rgb(158, 236, 158);
    --other: rgb(83, 81, 81);
    --default: #fff
}


body{
    margin: 0;
    padding: 0;
    background-color: grey;
}

*{
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

/* Main container with white background */
.container {
    width: 700px;
    height: auto;
    margin: auto;
    border: 1px solid white;
    margin-top: 50px;
    /* padding: 5px; */
    background-color: white;
}

.app-header {
    display: inline;
}

/* center the application name */
.app-header h2 {
    text-align: center;
    color: grey;
    font-weight: bolder;
}

/* all different section seperated by horizontal line */
.desc{
    width: 100%;
    height: auto;
    margin: 0px 5px 10px 5px;
}

/* description label */
.desc label {
    color: grey;
    font-size: 12px;
}

/* description input box - for writing text */
.desc-text input {
    width: 90%;
    height: 40px;
    border: none;
    outline: none;
}

/* for writing text */
.desc-text input::placeholder {
    word-spacing: 5px;
    letter-spacing: 2px;
}

/* category date container  */
.add-task{
    display: flex;
    flex-direction: row;
}

/* category-container */
.category-container {
    width: 50%;
    height: auto;
    display: inline-block;
    margin-left: 5px;
}

/* label */
.category-container label{
    color: grey;
    font-size: 12px;
}

/* select */
.category-container select {
    width: 325px;
    border: none;
    height: 25px;
}

/* click on select effect */
.category-container select:focus {
    outline: none;
}

/* date-container */
.due-date-container{
    width: 50%;
    height: auto;
    display: inline-block;
}

/* date label */
.due-date-container label{
    color: grey;
    font-size: 12px;
}

.due-date-container input {
    border: none;
    width: 300px;
}

/* removed outline of the date box */
.due-date-container input:focus {
    outline: none;
}

/* buttons */
.buttons{
    width: 100%;
    height: auto;
}
.buttons .btn-design{
    margin: 50px 200px;
}

.btn-design .btn{
    width: 110px;
    height: 50px;
    /* outline: none; */
    border: none;
    border-radius: 5px;
    color: white;
}

.btn-design #add-task{
    background-color: var(--addTask);
}


.btn-design #delete-tasks{
    background-color: var(--deleteTask);
}

/* Customizations to show all the added tasks list in the app */
#tasks-list-form{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: 10px solid white;
    border-top: 0;
    border-bottom: 0;
}

.task{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.task > *{
    margin-right: 20px;
}

.task-data{
    display: inline-block;
    width: 70%;
}

.task-data *{
    color:rgb(119, 116, 116);
}

.task-data p{
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.task-data span{
    font-size: small;
}

.task button{
    border: none;
    outline: none;
    height: 40px;
    width: 100px;
    color: white;
    text-transform: uppercase;
}

button:hover{
    cursor: pointer;
}

.default {
    display: none;
    background-color: var(--default);
}

.default:hover{
    cursor: none;
}

.personal{
    background-color: var(--personal);
}

.work{
    background-color: var(--work);
}

.cleaning{
    background-color: var(--cleaning);
}

.other{
    background-color: var(--other);
}

.school{
        background-color: var(--school);
}

/* Commonly used classes */

/* horizontal line */
hr{
    color: grey;
    border-style: inset;
    border-width: 0.5px;
    /* margin: 0.5rem auto; */
}

/* vertical line */
.vl{
    display: inline-block;
    border-left: 1px solid grey;
    height: auto;
    margin: 0 0.5rem
}

